html {
  font-size: 62.5%;
  background-color: #F2F6F9; }
body {
  font-size: 1.4em;
  line-height: 1.6;
  font-weight: 400;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000000;
  text-align: center }

/* Wrappers
_____________________________________________ */

.container {

}

.msg-list_wrapper {

}

.msg-chat_wrapper {

}


/* Divs
_____________________________________________ */
.msg-header_div {

}


.msg-user_div {

}

/* Fonts
_____________________________________________ */
.msg-title_h1 {

}

.msg-preview_p {

}