html {
  font-size: 62.5%;
  background-color: #F2F6F9; }
body {
  font-size: 1.4em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ffffff;
  text-align: center }
  
/* parent div style */
.parent {
	border-radius: 6px;
	background-color: white;
	padding: 20px;
	margin: 6%;
	box-shadow: 0px 8px 20px 0px rgba(100,100,140,0.2)
}

.parent {
	display: grid;	
	grid-auto-rows: minmax(auto, auto);
	grid-template-columns: 1fr;
}

.parent > div {
	margin: 8px;
	background-color: #a0a6e2;
	border-radius: 6px;
	padding: 8px;
}

@media (min-width: 650px) {
	.box1 {
		grid-column-start: 1;
		grid-column-end: 5;
	}
}

@media (min-width: 960px) {
	body {
		font-size: 1.6em;
	}
	.box1 {
		grid-row-start: 1;
		grid-row-end: 4;
		grid-column-start: 1;
		grid-column-end: auto;
	}
	.parent {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media (min-width: 1280px) {
	.parent {
		grid-template-columns: 1fr 1fr 1fr;
	}
}